{%  extends "layout.html" %}

{%  block content  %}
        

<!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<style> -->
<style>
.grey-bg {  
    background-color: #F5F7FA;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

</style>
<div class="grey-bg container-fluid" style="text-align: center; background-image:linear-gradient(rgba(255, 255, 255, 0.192), rgba(252, 252, 252, 0.171)),  url(https://azermstorage.blob.core.windows.net/appimages/pat3.png); background-size: 1000px; font-family: Poppins, sans-serif;">
  <section id="minimal-statistics">  
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h3 class="text-uppercase text-right" style="padding-right: 1em;"> <img  style="height: 50px; width: 50px;" src="https://azermstorage.blob.core.windows.net/appimages/comp.png" alt="logo" class="logo"><b style=" color: #000000;">Competitor Analysis</b> </h3>
       
      </div>
    </div> 
    
  
 




    <div class="txt" style="text-align: center;  background-image:linear-gradient(rgba(255, 255, 255, 0.342), rgba(252, 252, 252, 0.877)),  url(https://azermstorage.blob.core.windows.net/appimages/pat3.png); background-size: 770px; border-radius: 30px; box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.596);font-family: Poppins, sans-serif;">
      <br> <br> <br>    <img  style="height: 197px; width: 240px; padding-left: 2em;" src="https://azermstorage.blob.core.windows.net/appimages/log2.png" alt="logo" class="logo">
      <br> <br> <h1> <b style="color: black;"> Competitor Analysis Coming Soon </b></h1>
       <p style="color: black;">The SRMS Competitor Analysis feature will soon be added</p>             <br> <br> 
     </div>


 

<!-- 
  <iframe width="100%" height="711.25" src="https://app.powerbi.com/reportEmbed?reportId=b7cc334d-fb9a-4b7e-b3b2-9342c72d11c3&groupId=e734481f-0819-420a-a0e5-c6f1dc87f216&autoAuth=true&ctid=4c8a9f7a-11fc-4fc2-9099-0b68f72a197e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1lLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true" style="border-radius: 10px; box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.705);"" ></iframe> -->




    
   
</div>
            
{%  endblock  %}