{%  extends "layout.html" %}

{%  block content  %}
        

<!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<style> -->
    <script>


        window.addEventListener("load", function () {
            const loader = document.querySelector(".loader");
            loader.className += " hidden"; // class "loader hidden"
        });
    
    
    
        $('a').click(function(e) {
        $('<div class=loader>loading...</div>').prependTo(document.body); 
        e.preventDefault();
        var destination = this.href;
        setTimeout(function() {
            window.location = destination;
        },1000);
        $('<iframe>').hide().appendTo('body').load(function() {
            window.location = destination;
        }).attr('src', destination);
    });
    
    
    
    
    
    
    
        $('a').click(function(){
      
    });
        </script>





<style>
.grey-bg {  
    background-color: #F5F7FA;
}

@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {

     font-family: 'Calibri', sans-serif !important
 }

 .container {
     margin-top: 100px
 }

 .card {
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 0px solid transparent;
     border-radius: 0px
 }
 }

 .card-body {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto;
     padding: 1.25rem
 }

 .card .card-title {
     position: relative;
     font-weight: 600;
     margin-bottom: 10px
 }

 .table {
     
     width: 100%;
     max-width: 100%;
     margin-bottom: 1rem;
     background-color: transparent
 }

 * {
     outline: none
 }

 .table th,
 .table thead th {
     font-weight: 500
 }

 .table thead th {
     vertical-align: bottom;
     border-bottom: 2px solid #dee2e6
 }

 .table th {

     vertical-align: top;
     border-top: 1px solid #dee2e6
 }

 .table th,
 .table thead th {
     font-weight: 500
 }

 th {
     text-align: inherit
 }





 .m-b-20 {
     margin-bottom: 20px
 }

 .customcheckbox {
     display: block;
     position: relative;
     padding-left: 24px;
     font-weight: 100;
     margin-bottom: 12px;
     cursor: pointer;
     font-size: 22px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none
 }

 .customcheckbox input {
     position: absolute;
     opacity: 0;
     cursor: pointer
 }

 .checkmark {
     position: absolute;
     top: -3px;
     left: 0;
     height: 20px;
     width: 20px;
     background-color: #CDCDCD;
     border-radius: 6px
 }

 .customcheckbox input:checked~.checkmark {
     background-color: #2196BB
 }

 .customcheckbox .checkmark:after {
     left: 8px;
     top: 4px;
     width: 5px;
     height: 10px;
     border: solid white;
     border-width: 0 3px 3px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg)
 }




 #page-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: none;
    text-align: center;
    width: 100%;

    padding-left: 8em;
    background-color: rgba(255, 255, 255, 0); 
}
 
div.grey-bg {
position: relative;

overflow: auto;

            
} 

</style>

 
<div class="grey-bg container-fluid"  style="color: black; font-family: Poppins, sans-serif;">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h3 class="text-uppercase text-right" style="padding-right: 1em;"> <img  style="height: 35px; width: 50px;" src="https://azermstorage.blob.core.windows.net/appimages/plat.png" alt="logo" class="logo"> <b style="color: black; font-family: Poppins, sans-serif;">Platforms</b> </h3>
        <br> <br> <br>
      </div>
    </div> 
  
<div class="container5"> 
  <div class="row">
      <div class="col-12" >
          <div class="card">
             
              <div class="table-responsive" style="background-image:linear-gradient(rgba(255, 255, 255, 0.904), rgba(252, 252, 252, 0.829)),  url(https://azermstorage.blob.core.windows.net/appimages/pat7.png); background-size: 700px;">
                  <table class="table">
                      <thead class="thead-light" >
                          <tr >
                            <th scope="col"   style="color: black;"> <b> View</b></th>
                              <th scope="col" style="color: black;"> <b> Name</b></th>
                              <th scope="col" style="color: black;"><b> Created</b></th>
                             
                              
                          </tr>
                      </thead>
                      <tbody class="customtable">
                          <tr>
                              <th>  <a href="{{ url_for ('brand') }}"  onclick="picture()"><img  style="height: 36px; width: 36px;" src="https://azermstorage.blob.core.windows.net/appimages/click.png" alt="logo" class="logo"> </a>  </th>
                             <td> <b  style="color: black; font-family: Poppins, sans-serif;"> Brand Performance Dashboard</b></td>
                              <td>March 2020</td>
                            
                             
                          </tr>
                          <tr>
                           
                            <th>  <a href="{{ url_for ('comp') }}"  onclick="picture()"><img  style="height: 36px; width: 36px;" src="https://azermstorage.blob.core.windows.net/appimages/click.png" alt="logo" class="logo"> </a> </th>
                           <td> <b  style="color: black; font-family: Poppins, sans-serif;"> Competitor Analysis</b></td>
                            <td>March 2020</td>
                           
                 
                        </tr>
                        <tr>
                            
                          <th> <a href="{{ url_for ('fbplatform') }}"  onclick="picture()"><img  style="height: 36px; width: 36px;" src="https://azermstorage.blob.core.windows.net/appimages/click.png" alt="logo" class="logo"> </a>  </th>
                         <td> <b  style="color: black; font-family: Poppins, sans-serif;"> Facebook  Monitoring Dashboard</b></td>
                          <td>March 2020</td>
                        
                      
                      </tr>
                      <tr>
                       
                        <th>  <a href="{{ url_for ('igplatform') }}"  onclick="picture()"><img  style="height: 36px; width: 36px;" src="https://azermstorage.blob.core.windows.net/appimages/click.png" alt="logo" class="logo"> </a>  </th>
                       <td> <b  style="color: black; font-family: Poppins, sans-serif;"> Instagram Monitoring Dashboard</b></td>
                        <td>March 2020</td>
                   
                       
                    </tr>
                    <tr>
                       
                      <th>   <a href="{{ url_for ('twitterplatform') }}"  onclick="picture()"><img  style="height: 36px; width: 36px;" src="https://azermstorage.blob.core.windows.net/appimages/click.png" alt="logo" class="logo"> </a> </th>
                     <td>  <b  style="color: black; font-family: Poppins, sans-serif;">Twitter Monitoring Dashboard</b></td>
                      <td>March 2020</td>
                     
              
                  </tr>
                  <tr>
                   
                    <th>  <a href="{{ url_for ('productall') }}"  onclick="picture()"><img  style="height: 36px; width: 36px;" src="https://azermstorage.blob.core.windows.net/appimages/click.png" alt="logo" class="logo"> </a>  </th>
                   <td> <b  style="color: black; font-family: Poppins, sans-serif;" >Digital ProductLines Dashboard</b> </td>
                    <td>March 2020</td>
                  
                  
                </tr>



                   
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
</div>

            
{%  endblock  %}