{%  extends "layout.html" %}

{%  block content  %}
        

<!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<style> -->


  <script>


    window.addEventListener("load", function () {
        const loader = document.querySelector(".loader");
        loader.className += " hidden"; // class "loader hidden"
    });



    $('a').click(function(e) {
    $('<div class=loader>loading...</div>').prependTo(document.body); 
    e.preventDefault();
    var destination = this.href;
    setTimeout(function() {
        window.location = destination;
    },1000);
    $('<iframe>').hide().appendTo('body').load(function() {
        window.location = destination;
    }).attr('src', destination);
});







    $('a').click(function(){
  
});
    </script>
    
<style>

.loadingDiv {
   position: fixed;
   top:20px;    
   left:20px;    
   right:20px;    
   bottom:20px;    
   background-color: yellow;
}
.grey-bg {  
    background-color: #F5F7FA;
}

#page-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: none;
    text-align: center;
    width: 100%;
  
    padding-left: 8em;
    background-color: rgba(255, 255, 255, 0); 
}


.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}




@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background: #eee;
    font-family: 'Ubuntu', sans-serif
}

.box {
    position: relative;
    width: 100%;
  
}

.our-services {
    margin-top: 15px;
    padding-top: 5px;
    padding: 1px 10px;
    min-height: 218px;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(4, 4, 24, 0.486)
}


.our-services h5{
  color: red; 
  text-shadow:0.8px 0.8px 0.9px #000000; 
  text-align: center;
}

.our-services.brand {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(252, 252, 252, 0)), url(static/altdrive3.jfif);  
 background-size: 250px;
  padding-left: 2em;
  background-position: center; 
  background-repeat: no-repeat;
  position: relative;
}


.our-services.comp {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(252, 252, 252, 0)), url(static/altmall3.jfif);   
  background-size: 215px;
  padding-left: 2em;
  background-position: center; 
  background-repeat: no-repeat;
  position: relative;
}



.our-services.product {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(252, 252, 252, 0)), url(static/altpay.jpg); 
  background-size: 210px;
  padding-left: 2em;
  background-position: center; 
  background-repeat: no-repeat;
  position: relative;
}


.our-services.report {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(252, 252, 252, 0)), url(static/altpowerr.png);  
  background-size: 300px;
  padding-left: 2em;
  background-position: center; 
  background-repeat: no-repeat;
  position: relative;
}



.our-services:hover h5,
.our-services:hover span {
    color: #fff;
    text-shadow: 3px 3px 3px #000000;
}

.comp:hover h5 {
  color: #fff;

}


.comp:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: url(static/altmall3.jfif), linear-gradient(-45deg, #0bb5f850 0%, #6117017e 100%);
    background-size:249px;
  

}

.brand:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: url(static/altdrive3.jfif), linear-gradient( -45deg, #34b6bf56 0%, #3835414b 100%);
    background-size:300px;
   
}



.product:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: url(static/altpay.jpg), linear-gradient(-45deg, #0429428e 0%, #f8c16971 100%);
    background-size:250px;
}

.report:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: url(static/altpowerr.png), linear-gradient(-45deg, #cbf8786b 0%, #5506066e 100%);
    background-size:320px;
}




div.grey-bg {
position: relative;

overflow: auto;

            
} 





div.container3 {

max-height: 60vh;
            
     } 

</style>



<div class="loader">
  <img src="https://azermstorage.blob.core.windows.net/appimages/load.gif" alt="Loading..." />
</div>



<div class="grey-bg container-fluid" style=" font-family: poppins, sans-serif; text-align: center; background-image:linear-gradient(rgba(255, 255, 255, 0.233), rgba(252, 252, 252, 0.404)),  url(https://azermstorage.blob.core.windows.net/appimages/pat4.png); background-size: 1000px;">
  <section id="minimal-statistics">
    <div class="row" style="justify-content: center; display: flex;">
      <div class="col-12 mt-3 mb-1">
        <h3 class="text-uppercase text-right" style="padding-right: 0.9em;"><b style="color: black;">Product Lines</b> </h3>
        <br> <br> 
      </div>
    </div> 
    <div class="row" style="justify-content: center; display: flex;">
      <div class="col-xl-5 col-sm-12 col-12">
          <div class="box" >
            <a href="{{ url_for ('altdrive') }}" onclick="picture()">
             
              <div class="our-services brand" style="background-color:rgb(255, 255, 255);" >
           
            </div> </a>
          </div>
      </div>
      <div class="col-xl-5 col-sm-12 col-12">
          <div class="box">
            <a href="{{ url_for ('altmall') }} " onclick="picture()">
                 
            <div class="our-services comp" style="background-color:rgb(240, 239, 239);" >
              
              
              </div>   </a>
          </div>
      </div>
    
  </div>
  <div class="row" style="justify-content: center; display: flex;">
      <div class="col-xl-5 col-sm-12 col-12">
          <div class="box">
            <a href="{{ url_for ('altpay') }} " onclick="picture()">
                
            <div class="our-services product" style="background-color:rgb(60, 3, 114);">

            
              </div>    </a>
          </div>
      </div>
      <div class="col-xl-5 col-sm-12 col-12">
          <div class="box">
            <a href="{{ url_for ('altpower') }} " onclick="picture()">
                
            <div class="our-services report" style="background-color:rgb(2, 126, 99);">
          
             
              </div>   </a>
          </div>
          <br><br>
      </div>

  </div>

     
    
  
    
    
   
  

  </section>
  
    
    
 
</div>
</div>

</div>
            
{%  endblock  %}