
{%  extends "layout.html" %}

{%  block content  %}
<style>

table {
  overflow: hidden;
}
</style>


<div class="container-fluid">



  <!-- DataTales Example -->
  <div class="card shadow mb-4" style="text-align: center; background-image:linear-gradient(rgba(255, 255, 255, 0.856), rgba(252, 252, 252, 0.753)),  url(https://azermstorage.blob.core.windows.net/appimages/pat9.png); background-size: 1000px;">
 
      <div class="card-body">
          <div class="table-responsive">
            <br> <br> <br><table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <colgroup>
                <col span="1" style="width: 35%;">
                <col span="1" style="width: 35%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
             </colgroup>
             
                  <thead  style=" background: #212729;  background-image: url(https://azermstorage.blob.core.windows.net/appimages/bdp.png); background-size: 20em; font-family: Poppins, sans-serif; ">
                      <tr style="color: white;">
                          <th>Name of Staff</th>
                          <th>Email</th>
                          <th>Approve User</th>
                          <th>Decline Request</th>
                       
                      </tr>
                  </thead>
                  <tbody>

                    {% for data in data %}
    
    
    
                    <tr style="color: black;">
                      <td>{{data['Name']}} </td>
                      <td>{{data['Email']}}</td>
    
                     <form action="{{url_for('approverequest')}}" method="GET">
                      <td><input name="email" style="width: 0%; visibility: hidden;" value=" {{data['Email']}}"><button  class="btn" style="background-color:  #212729;" type="Submit"  name="id" value=" {{data['user_id']}}" onclick="picture()"> <b style="color: white;"> Approve</b> </button></td></form>
                      <form action="{{url_for('declinerequest')}}" method="GET">
                        <td><input name="email2" style="width: 0%; visibility: hidden;"   value=" {{data['Email']}}"><button  class="btn" style="background-color:  #212729; color: white;" type="Submit"  name="id2"  placeholder= "Decline" value=" {{data['user_id']}}"onclick="picture()"> <b> Decline </b></button></td></form>
                      
                    </tr>
    
                   
                    {% endfor %}
                   
                  </tbody>
      
              </table>  <br> <br> 
          </div>
      </div>
  </div>

</div>
<!-- /.container-fluid -->

</div>






          
            
{%  endblock  %}