{%  extends "layout.html" %}

{%  block content  %}
        

<!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<style> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap">





<style>
.grey-bg {  
    background-color: #F5F7FA;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

div.list-group {

  max-width:900px;
            max-height: 130vh;
            
           
             text-align: left;
             overflow: auto;
       




}


body{
    font-family: 'Roboto', sans-serif;
}

.ticker-wrapper{
  position: relative;
  max-width: 800px;
  margin: auto;
 

}

.bigHeading{
display: block;
position: absolute;
font-style: italic;
font-size: 25px;
background-color: #212729;
color: #fff;
text-transform: uppercase;
padding: 6.8px;
letter-spacing: 1px;
font-weight: 100;
z-index: 2;

}

.bigHeading::after,
.bigHeading::before{
  content:'';
  width: 0;
  position: absolute;
  border-width: 50px;
  border-style: solid;
  top: 0;
  z-index: -1;
}

.bigHeading::before{
  border-color: #212729 transparent transparent
  transparent ;
  right: -51px;

}

.bigHeading::after{
  border-color:  transparent  transparent #212729 
  transparent  ;
  left: -50px;
  top: -49px;

}


.text-update{
  height:53px;
  padding-top: 0.5em;

  background: #0051ff10;
  overflow: hidden;
  position: relative;
  color: rgb(0, 0, 0);
  
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
 
  left: 125px;
  
  white-space: nowrap;
}

.text-update marquee{
position: absolute;
width: 150%;
margin: 0;
font-weight: 700;
text-align: left;




}









.com-icon{
      margin-bottom: .35em;
      color: #ec1616;
    }

    div.grey-bg {
position: relative;

overflow: auto;

            
} 


</style> 
<div class="container">
<div class="ticker-wrapper">
  <div class="bigHeading" style="text-shadow: 2.5px 2.5px 2px #000000;">#Trending</div>

  <div class="text-update" >
      <marquee behavior="scroll" direction="left" scrollamount="15" style="text-shadow: 2.5px 2.5px 2px #ffffff;">{{data['Trending_Hashtag']}}</marquee>
      <!-- <marquee behavior="scroll" direction="left">Your scrolling text goes here</marquee> -->

  </div></div>  </div> <br> 
<div class="grey-bg container-fluid" style="text-align: center; background-image:linear-gradient(rgba(255, 255, 255, 0.123), rgba(252, 252, 252, 0.158)),  url(https://azermstorage.blob.core.windows.net/appimages/pat4.png); background-size: 1000px;">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h3 class="text-uppercase text-right" style="padding-right: 1em;">  <img  style="height: 50px; width: 50px;" src="https://azermstorage.blob.core.windows.net/appimages/twitter.png" alt="logo" class="logo"><b>TWITTER TREND ANALYSIS</b> </h3>
        <iframe width="100%" height="511.25" src="https://app.powerbi.com/reportEmbed?reportId=b7cc334d-fb9a-4b7e-b3b2-9342c72d11c3&groupId=e734481f-0819-420a-a0e5-c6f1dc87f216&autoAuth=true&ctid=4c8a9f7a-11fc-4fc2-9099-0b68f72a197e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1lLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true" ></iframe>
      </div>
    </div> 


<img src="https://azermstorage.blob.core.windows.net/appimages/twiiter.png" alt="">






    


</section>
     
</div>

            
{%  endblock  %}